#!/usr/bin/env bash

set +x

[ -z $1 ] && set branch=$1 || set branch=master

cd {{ training_scripts_dir }}
git checkout -t origin/${branch}
git pull

cd {{ app_scripts_dir }}
git checkout -t origin/${branch}
git pull